body {
  background-color: #F3F7F7;
  font-family: "Ubuntu Mono", serif;
}

.bar {
  fill: steelblue;
}

.main-container {
  width: 800px;
  height: 600px;

}

canvas {
  /*width: 600px !important;*/
  /*height: 600px !important;*/

}